body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: #111;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #0afa66;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgcontainer {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  background-color: #0a0a0a;
  padding: 5px;
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: purple;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.back-to-login {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #050505;
  background-color: rgb(248, 7, 7);
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-to-login:hover {
  text-decoration: underline;
  color: aliceblue;
}


/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  form {
    width: 80%;
  }
}
